<div class="news-admin">
  <div class="admin-toolbar"><h2>资讯管理</h2><button nz-button nzType="primary" (click)="showCreateModal()"><i nz-icon nzType="plus"></i> 新增资讯</button></div>
  <nz-table #nt [nzData]="news" [nzPageSize]="15" nzTableLayout="fixed">
    <thead><tr><th nzWidth="80px">ID</th><th nzWidth="200px">标题</th><th>描述</th><th nzWidth="100px">时间</th><th nzWidth="120px">操作</th></tr></thead>
    <tbody>
      <tr *ngFor="let data of nt.data">
        <td>{{ data.id }}</td>
        <td class="name-cell"><strong>{{ data.title }}</strong></td>
        <td class="desc-cell">{{ data.description }}</td>
        <td>{{ data.createdAt }}</td>
        <td><a (click)="openEditModal(data)">编辑</a><nz-popconfirm nzTitle="确定删除？" (nzOnConfirm)="confirmDelete(data.id)"><a nz-popconfirm class="ml-space color-red">删除</a></nz-popconfirm></td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="modalVisible" [nzTitle]="editingNews ? '编辑资讯' : '新增资讯'" (nzOnCancel)="closeModal()" (nzOnOk)="handleOk()" [nzOkLoading]="saving">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="validateForm">
        <nz-form-item><nz-form-label [nzSpan]="5" nzRequired>标题</nz-form-label><nz-form-control [nzSpan]="19"><input nz-input formControlName="title" /></nz-form-control></nz-form-item>
        <nz-form-item><nz-form-label [nzSpan]="5">描述</nz-form-label><nz-form-control [nzSpan]="19"><textarea nz-input formControlName="description" rows="3"></textarea></nz-form-control></nz-form-item>
        <nz-form-item><nz-form-label [nzSpan]="5">内容</nz-form-label><nz-form-control [nzSpan]="19"><textarea nz-input formControlName="content" rows="6"></textarea></nz-form-control></nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>